{{ define "header" }}
	{{ partial "topnav" }}
{{ end }}

{{ define "main" }}
<div class="lg:max-w-7xl lg:mx-auto mt-4 px-4 lg:px-8">
	<h1 class="text-3xl text-center font-bold mb-4">Release Notes</h1>
	<div class="flex flex-col gap-y-8">
		{{ range .Pages }}
		<a href="{{ .Permalink }}">
			<div class="flex flex-col lg:flex-row gap-y-1 lg:gap-x-4">
				{{ with .Resources.Get .Params.release_image }}
				<img class="w-32 h-32 rounded-md object-cover" src="{{ .RelPermalink }}" alt="{{ $.Title }}">
				{{ end }}
				<div>
					<div class="text-xl font-bold">{{ .Params.release_date }}</div>
					<div class="text-xl font-bold">{{ .Params.release_title }}</div>
				</div>
			</div>
		</a>
		{{ end }}
	</div>
</div>
{{ end }}