<footer class="flex flex-col gap-2 lg:gap-4 p-4 lg:p-8 mt-4 border-t-solid border-t">
	{{ partial "socials" }}
	<div class="flex flex-col-reverse lg:flex-row gap-2 lg:gap-8 justify-center">
		<span class="text-lg text-center">&copy; 2024 - 2025 TrickyTactics Team</span>
		<div class="flex gap-8 justify-center">
			<a href="/terms-of-service" class="text-lg hover:text-primary_text-light hover:underline">Terms</a>
			<a href="/privacy-policy" class="text-lg hover:text-primary_text-light hover:underline">Privacy</a>
		</div>
	</div>
</footer>